body{
    color: #D8C9DE;
}
h3, h2{
    color: #F4C95D;
}
h2, h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    background-color: #2E0541;
    border-radius: 10px;
}
.navBtn{
    margin-top: 13px;
    margin-bottom: 13px;
    text-decoration: none;
    color: inherit; 
    width: 100px;
    height: 15px;
    padding: 2px 5px 7px 5px;
    text-align: center;

}
.navBtn:hover{
    color: black;
    background-color: #F4C95D;
    border-radius: 10px;

}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}
article{
    margin: 20px 50px 30px 50px;
    background-color: #2E0541;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
}
article h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intervenant{
    margin-left: 35%;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
#cardsBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.cards{
    padding-top: 30px;
}
.cards h3{
    margin-left: 20px;
}
.socials{
    margin: 10px 0 10px 80px;
}
tr{
     margin: 20px 0 20px 70px;
}
.inscrireBtn{
    height: 52px;
    width: 121px;   
    border: 2px solid black;
    background-color: #F4C95D;
    border-radius: 10px;
    margin-left: 95%;
}
.socials a:hover{
    filter: brightness(0) invert(1);
}
.infoperso{
    background-color: #2E0541;
    border-radius: 10px;
    width: 300px;
    height: 600px;
    margin: 20px 0 0 20vw;
    padding: 20px 30px 0 30px;
    display: grid;
    grid-template-columns: 1fr;
}
.msg{
    height: 150px;
    width: 250px;
    background-color: #2E0541;
    border-radius: 10px;
    margin: 200px 0 0 50px;
    padding: 50px 0 0 30px;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
input, select, textarea{
    border-radius: 10px;
}
textarea{
    margin-top: 10px;
    height: 80px;
}
#submit{
    margin-left: 100px;
    margin-top: 20px;
    height: 52px;
    width: 121px;
    font-size: 18px;
    background-color: #F4C95D;
}
#mainPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#mainPage > :nth-child(2){
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
h1{
    color: #0F172A;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tease1{
    display: grid;
    grid-template-columns: 1fr;
}
.tease1 > :nth-child(3n){
    grid-column: span 2;
}
.details{
    color: #F4C95D;
}
.inscrireBtn:hover{
    opacity: 0.8;
    cursor: pointer;
}
footer{
    background-color: #2E0541;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 20px;
}
.footerInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.contact{
    text-decoration: none;
    color: white;    
}
#insc{
    margin-left: 30%;
    height: 40px;
}
@media (max-width: 768px){
    main{
        grid-template-columns: 1fr;
    }
    .inscrireBtn{
        margin-left: 30%;
    }
    #cardsBox{
        grid-template-columns: 1fr;
    }
    form{
        grid-template-columns: 1fr;
    }
    .infoperso{
        margin-left: 10px;
    }
    .msg{
        margin-top: 20px;
    }
    #mainPage{
        grid-template-columns: 1fr;
    }
}